# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load the CSV file
cities_df = pd.read_csv("../output_data/cities.csv").drop(columns = "City_ID")

cities_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,huilong,100,CN,1595080799,90,31.81,121.66,84.00,1.01
1,bluff,0,NZ,1595080799,80,-46.60,168.33,37.24,5.97
2,hermanus,0,ZA,1595080799,72,-34.42,19.23,64.99,7.00
3,hobart,75,AU,1595080800,57,-42.88,147.33,51.80,10.29
4,bethel,1,US,1595080569,73,41.37,-73.41,77.00,4.34

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
# width: 600px, height: 400px, zoom_level: 1, center is the location of the first city in the dataframe
layout = {"width" : "600px", "height": "400px"}
center = (cities_df.iloc[0, 5], cities_df.iloc[0, 6])
zoom_level = 1
gmaps.configure(api_key = g_key)

# Set locations and weights
locations = cities_df.iloc[:, [5, 6]]
weights = cities_df.iloc[:, 4]

In [4]:
# Make a map with a heatmap layer
fig = gmaps.figure(layout = layout, center = center, zoom_level = zoom_level)
heatmap = gmaps.heatmap_layer(locations, point_radius = 5, weights = weights, max_intensity = float(cities_df["Humidity"].max()))
fig.add_layer(heatmap)
fig

Figure(layout=FigureLayout(height='400px', width='600px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Get cities that have ideal weather condition: 70 < Max temperature < 80℉, humidity < 40%, wind speed < 10 mph
ideal_cities_df = cities_df.loc[(cities_df.iloc[:, 7] < 80) &
                                (cities_df.iloc[:, 7] > 70) &
                                (cities_df.iloc[:, 4] < 40) &
                                (cities_df.iloc[:, 8] < 10)]

ideal_cities_df = ideal_cities_df.dropna()
ideal_cities_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
5,east london,0,ZA,1595080639,11,-33.02,27.91,78.80,4.70
34,fallon,1,US,1595080810,36,39.47,-118.78,73.99,3.36
168,pinega,97,RU,1595080828,39,64.70,43.39,70.54,6.64
213,saint george,1,US,1595080698,22,37.10,-113.58,77.00,2.77
229,kruisfontein,0,ZA,1595080836,32,-34.00,24.73,71.47,8.08
281,saurimo,0,AO,1595080841,33,-9.66,20.39,75.20,6.93
288,yumen,0,CN,1595080843,17,40.28,97.20,76.41,9.08
320,lasa,40,IT,1595080846,39,46.62,10.70,75.00,9.17
341,zhangye,0,CN,1595080848,21,38.93,100.45,72.97,4.65
344,kaputa,12,ZM,1595080849,32,-8.47,29.66,75.24,3.80
401,hovd,61,MN,1595080855,37,48.01,91.64,72.21,3.44
476,upington,0,ZA,1595080863,8,-28.45,21.26,75.20,9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Copy necessary data from ideal_cities_df to hotel_df: City, Country
hotel_df = ideal_cities_df.iloc[:, [0, 2]].copy()

# Set keyword, radius, parameters, and url
keyword = "hotel"
radius = 5000
params = {"keyword" : keyword,
          "radius" : radius,
          "key" : g_key}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [7]:
# Iterate through the index of ideal_cities_df to get the locations of the ideal cities
for idx in ideal_cities_df.index:
    params["location"] = f"{ideal_cities_df.loc[idx, 'Lat']}, {ideal_cities_df.loc[idx, 'Lng']}"
    
    response = requests.get(base_url, params).json()
    
    # Store the hotel names and the locations of the hotels
    try:
        hotel_df.loc[idx, "Hotel Name"] = response["results"][0]["name"]
        hotel_df.loc[idx, "Lat"] = response["results"][0]["geometry"]["location"]["lat"]
        hotel_df.loc[idx, "Lng"] = response["results"][0]["geometry"]["location"]["lng"]
    
    except IndexError:
        pass

In [8]:
# Drop all rows that have null values
hotel_df = hotel_df.dropna()
hotel_df

             City Country                    Hotel Name        Lat         Lng
5     east london      ZA      Premier Hotels & Resorts -33.018692   27.918697
34         fallon      US    Holiday Inn Express Fallon  39.476340 -118.793956
168        pinega      RU         Gostinitsa "Aeroport"  64.730956   43.451389
213  saint george      US   Best Western Plus Abbey Inn  37.089025 -113.584267
281       saurimo      AO      iu Hotel Saurimo Rotunda  -9.659974   20.398211
320          lasa      IT  Gasthof Hotel Sonne Silandro  46.631183   10.758670
341       zhangye      CN   Holiday Inn Express Zhangye  38.958800  100.434280
344        kaputa      ZM      Wittanda Executive Lodge  -8.476561   29.658608
401          hovd      MN                  Steppe hotel  47.999487   91.637690
476      upington      ZA             River Place Manor -28.449554   21.263565

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer on top of heat map
marker = gmaps.marker_layer(hotel_locations, info_box_content = hotel_info)
fig.add_layer(marker)

# Display figure
fig

Figure(layout=FigureLayout(height='400px', width='600px'))